a:link, a:visited {
	color:lightgrey;
	text-decoration:none;
	border:2px solid grey;
	border-radius: 5px;
}
a:hover {
	color:tomato;
	text-decoration:none;
}
a:active {
	color:purple;
	text-decoration:none;
} 
