/* Mononoki font */
@font-face {
  font-family: "Mononoki Regular";
  src: url(../fonts/mononoki/ttf/mononoki-Regular.ttf);
}
@font-face {
  font-family: "Mononoki Italic";
  src: url(../fonts/mononoki/ttf/mononoki-Italic.ttf);
}
@font-face {
  font-family: "Mononoki Bold";
  src: url(../fonts/mononoki/ttf/mononoki-Bold.ttf);
}
@font-face {
  font-family: "Mononoki Bold Italic";
  src: url(../fonts/mononoki/ttf/mononoki-BoldItalic.ttf);
}

