li {
	line-height: 50px;
	list-style: none;
	font-family: "Mononoki Regular";
	overflow-wrap:break-word;
	width:90%;
}
li.gitlab:before, li.matrix:before, li.odysee:before, li.email:before, li.rss:before, li.monero:before, li.bitcoin:before, li.lbrycredits:before, li.bat:before {
	content:"";
	display:inline-block;
	height:1.1em;
	width:1.1em;
	background-size:contain;
	background-repeat:no-repeat;
}
li.gitlab:before {
	background-image: url('../images/logos/gitlab.svg');
}
li.matrix:before {
	background-image: url('../images/logos/element.png');
}
li.odysee:before {
	background-image: url('../images/logos/odysee.png');
}
li.email:before {
	background-image: url('../images/logos/protonmail.png');
}

li.rss:before {
	background-image: url('../images/logos/rss.png');
}

li.monero:before {
	background-image: url('../images/logos/xmr.png');
}
li.bitcoin:before {
	background-image: url('../images/logos/btc.svg');
}

li.lbrycredits:before {
	background-image: url('../images/logos/lbc.svg');
}


li.bat:before {
	background-image: url('../images/logos/bat.svg');
}
font.monero, font.bitcoin, font.lbrycredits, font.bat {
	background-color:#1d1d1e;
	font-family: "Mononoki Regular";
	font-size:18px;

}
font.bat{
	font-family: "Mononoki Italic";
	font-size:18px;
} 
