pre.pre {
	font-size:0.95vw;
	font-family: "Mononoki Bold";
	background: linear-gradient(45deg,orange, #D3208B, #879AF2);
	background-size: 200% 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	-webkit-animation: Animation 3s ease infinite;
	-moz-animation: Animation 3s ease infinite;
	animation: Animation 3s ease infinite;
}
@media screen and (max-width: 1050px) {
	pre.pre {
	font-size:1.7vw;
	font-family: "Mononoki Bold";
	background: linear-gradient(45deg,#FCBF49, #D3208B, #0A85ED);
	background-size: 200% 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	display: inline-block;
	-webkit-animation: Animation 3s ease infinite;
	-moz-animation: Animation 3s ease infinite;
	animation: Animation 3s ease infinite;
	}
}
@-webkit-keyframes Animation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
}
@keyframes Animation {
	0%{background-position:10% 0%}
	50%{background-position:91% 100%}
	100%{background-position:10% 0%}
} 
