<head>
<script>
var imageAddr = "https://amankushwaha.in/random.png?id=0";

//image still caching


var downloadSize = 49560;

var startTime, endTime;
var download = new Image();
download.onload = function () {
    endTime = (new Date()).getTime();
    showResults();
}

startTime = (new Date()).getTime();
download.src = imageAddr;

function showResults() {
    var duration = (endTime - startTime) / 1000;
    var bitsLoaded = downloadSize;
    var speedBps = (bitsLoaded / duration).toFixed(2);
    var speedKbps = (speedBps / 1024).toFixed(3);
    var speedMbps = (speedKbps / 1024).toFixed(2);

document.getElementById("myText").innerHTML = speedMbps;
}
</script>
</head>
<body>
/* https://raw.githubusercontent.com/1-ak/speedtest/main/random.png */
  <h1>"The speed is: " <span id="myText"></span></h1>
</body>
